<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Connection String"
			 connectionString="Database=CALE22_A;Server=servidor;uid=profit;pwd=profit;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="url" value="https://apiqa.imprentadigitalonline.com.ve/v2/" />
		<add key="email" value="jacagiao@gmail.com" />
		<add key="password" value="e11T7K8JXEAP" />
		<!--<add key="context" value="harafal" />-->
	</appSettings>
</configuration>
