<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Connection String"
			 connectionString="Database=CALE22_A;Server=ceo;uid=profit;pwd=profit;TrustServerCertificate=True;Connect Timeout=60;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="url" value="https://apiqa.imprentadigitalonline.com.ve/v2/" />
		<add key="email" value="jacagiao@gmail.com" />
		<add key="password" value="e11T7K8JXEAP" />

		<!--Para crear documento con la data en la máquina.-->
		<add key="ApiLoggingEnabled" value="true"/>
		<add key="versionProfit2k8" value="true"/>
		<add key="ApiLogDirectory" value="C:\LogsFacturacionDigital\"/>
		</appSettings>
</configuration>
